@charset "utf-8";

	*{margin:0; font-size: 15px; box-sizing: border-box;
		font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Helvetica Neue", ridi-roboto, "Noto Sans KR", sans-serif;
	}
	button {padding:0;}
	ul, ol, li{list-style:none; margin:0; padding:0;}
	a{text-decoration:none; color: black;}
	#wrap{background-color: #fff; margin: 0 auto; width: 100%; height: auto;}

	/*폰트*/
	